/log/*
/tmp
/coverage
/test/coverage
/db/*.sqlite3
/db/*.sqlite3-journal
/.bundle
/.idea
/.rspec
/config/database.yml
/config/sidekiq.yml
/config/puma.rb
/.sass-cache

.rvmrc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*~
*.lock
!Gemfile.lock
*.out
*.rbc
*.sassc
*.tmproj
*.sw?
*.cache
*.pid
*.ids
*.tags*
*.sublime*
*.log
*.sql
*.sqlite
*.rdb

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
